github "dennisweissmann/DeviceKit" ~> 1.3
github "airbnb/lottie-ios" "lottie/objectiveC"
github "yannickl/DynamicColor" >= 4.0.3
github "apollographql/apollo-ios" == 0.9.5
github "saoudrizwan/Disk" >= 0.4.0
github "hedviginsurance/flow" "master"
github "hedviginsurance/presentation" "master"
github "hedviginsurance/form" "master"
github "SnapKit/SnapKit" >= 4.0.0
github "hedviginsurance/flowfeedback" "master"
github "hedviginsurance/UICollectionView-AnimatedScroll" "master"
github "vtourraine/AcknowList" "1.7"
github "daltoniam/Starscream" "3.0.6"
github "uber/ios-snapshot-test-case" "6.0.2"
github "ivanbruel/MarkdownKit" "master"

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDynamicLinksBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json"
