github "dennisweissmann/DeviceKit" ~> 2.0
github "airbnb/lottie-ios" "lottie/objectiveC"
github "yannickl/DynamicColor" >= 4.0.3
github "apollographql/apollo-ios" == 0.10.1
github "saoudrizwan/Disk" == 0.6.3
github "hedviginsurance/flow" "master"
github "hedviginsurance/presentation" "master"
github "hedviginsurance/form" "master"
github "SnapKit/SnapKit" >= 5.0.0
github "hedviginsurance/flowfeedback" "master"
github "hedviginsurance/UICollectionView-AnimatedScroll" "master"
github "vtourraine/AcknowList" "1.7"
github "daltoniam/Starscream" "3.1.0"
github "uber/ios-snapshot-test-case" "6.0.3"
github "ivanbruel/MarkdownKit" "master"
github "hedviginsurance/ease" "master"

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDynamicLinksBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseRemoteConfigBinary.json"
