github "dennisweissmann/DeviceKit" ~> 2.0
github "yannickl/DynamicColor" == 4.2.1
github "apollographql/apollo-ios" == 0.27.1
github "saoudrizwan/Disk" == 0.6.3
github "hedviginsurance/flow" "master"
github "hedviginsurance/presentation" "master"
github "hedviginsurance/form" "master"
github "SnapKit/SnapKit" >= 5.0.0
github "hedviginsurance/flowfeedback" "master"
github "ivanbruel/MarkdownKit" "bdd03bb07179b23a741fb83f9b1bbe325604a690"
github "hedviginsurance/ease" "master"
github "pointfreeco/swift-snapshot-testing" == 1.7.2
github "facebook/facebook-ios-sdk" == 5.13.0
github "https://github.com/onevcat/Kingfisher" == 5.13.4
github "adyen/adyen-ios" "3.3.0"
github "mixpanel/mixpanel-swift"
github "https://github.com/HedvigInsurance/Runtime" == 2.1.8

binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseCrashlyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseProtobufBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseAnalyticsBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseDynamicLinksBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseFirestoreBinary.json"
binary "https://dl.google.com/dl/firebase/ios/carthage/FirebaseMessagingBinary.json"
