<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>510523782637-1ucfu1vp6nj8jott6b163is6ribkhpcr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.510523782637-1ucfu1vp6nj8jott6b163is6ribkhpcr</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>510523782637-ke5rpmm3453ibn2kkaiv12lqa3val509.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3AevOeKf2AlRG5FtkV8kQFh-K5HsctEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>510523782637</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hedvig.app</string>
	<key>PROJECT_ID</key>
	<string>hedvig-app</string>
	<key>STORAGE_BUCKET</key>
	<string>hedvig-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:510523782637:ios:fb554a9a4173250c</string>
	<key>DATABASE_URL</key>
	<string>https://hedvig-app.firebaseio.com</string>
</dict>
</plist>