name: IncreaseVersionNumber

on:
  workflow_dispatch:
    inputs:
      versionNumber:
        description: "Version number"
        required: true
        
jobs:
  deploy:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v2
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Post checkout pre
        run: scripts/install-tuist.sh
      - name: Post checkout
        run: scripts/post-checkout.sh
      - name: Bump version
        run: cd Projects/App && xcrun agvtool new-marketing-version ${{ github.event.inputs.versionNumber }}
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v3
        with:
          commit-message: "Update app version to ${{ github.event.inputs.versionNumber }}"
          title: "Update app version to ${{ github.event.inputs.versionNumber }}"
          body: "This PR was created automatically by the ProductionDeploy action, merge this so that XCode Cloud will build and upload to App Store."
          branch: "update-app-version/${{ github.event.inputs.versionNumber }}"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
